.route-enter {
  opacity: 0;
  transform: translateX(30px);
}

.route-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: 350ms ease;
}

.route-exit {
  opacity: 0;
  transform: translateX(30px);
  transition: 350ms ease;
}


.route-reverse-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.route-reverse-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: 350ms ease;
}

.route-reverse-exit {
  opacity: 0;
  transform: translateX(-30px);
  transition: 350ms ease;
}
