@import "./colors.scss";

@mixin getgroverButton_easeAnimation {
    transition: all 0.15s ease;
}

@mixin getgroverTypography_textCommon {
    color: $dark_grey;
    letter-spacing: 0;
    margin-bottom: 15px;
}

@mixin getgroverTypography_gradient {
    @supports (-webkit-background-clip: text) {
        background: linear-gradient(
            to top right,
            #ff0045,
            #3b00ff
        ); // 3D02FF, FE1251
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }
}

.getgrover_resetCommon,
.getgrover_resetCommon:after,
.getgrover_resetCommon:before,
.getgrover_resetCommon *,
.getgrover_resetCommon *:after,
.getgrover_resetCommon *:before {
    font-family: "Lato", "arial", sans-serif;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}
