$poppinsFont: Poppins, sans-serif;

// TODO: remove fonts import from UI lib, because it is a consumer's duty
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700,900&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,800");
