// Phone
//
//  @media (#{$phone}) {
//    code-here
//  }
//
$phone: "min-width: 0px";


// Tablet
//
//  @media (#{$tablet}) {
//    code-here
//  }
//
$tabletMax: "max-width: 600px";
$tablet: "min-width: 601px";


// Desktop
//
//  @media (#{$desktop}) {
//    code-here
//  }
$desktopMax: "max-width: 980px";
$desktop: "min-width: 981px";


// HD
//
//  @media (#{$hd}) {
//   code-here
//  }
$hdMax: "max-width: 1280px";
$hd: "min-width: 1281px";
