$transition-curve-in: cubic-bezier(0.4, 0.0, 0.2, 1);
$transition-curve-out: cubic-bezier(0.4, 0.0, 1, 1);
$transition-curve-default: cubic-bezier(0.4, 0.0, 0.2, 1);

@function transitionTime($timeSlug) {
    @if $timeSlug == 'short' {
        @return 0.1s;
    }
    @else if $timeSlug == 'medium-mobile' {
        @return 0.25s;
    }
    @else if ($timeSlug == 'medium-desktop' or 'long-mobile') {
        @return 0.3s;
    }
    @else if $timeSlug == 'long-desktop' {
        @return 0.35s;
    }
    @else {
        @return 0.2s;
    }
}

@function getTransition($property, $timeSlug, $type) {
    @if $type == 'in' {
        @return $property transitionTime($timeSlug) $transition-curve-in;
    }
    @else if $type == 'out' {
        @return $property transitionTime($timeSlug) $transition-curve-out;
    }
    @else {
        @return $property transitionTime($timeSlug) $transition-curve-default;
    }
}

@function getElevationTransition($border: true) {
    @if $border {
        @return getTransition(border, 'default', 'default'), getTransition(box-shadow, 'default', 'default');
    } @else {
        @return getTransition(box-shadow, 'default', 'default');
    };
}

