$border-color: #F1F1F1;

$elevation-base-shadow: 0px 0px 3px rgba(0, 0, 0, 0.05);

@mixin elevation($level, $border: true, $reverse: false) {
    @if $level == 0 {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.13);
        @if $border {border: 2px solid $border-color;};
    }
    @if $level == 1 {
        box-shadow: if($reverse, 0px -2px 6px rgba(0, 0, 0, 0.13), 0px 2px 6px rgba(0, 0, 0, 0.13)), $elevation-base-shadow;
        @if $border {border: 2px solid rgba(0,0,0,0)};
    }
    @if $level == 2 {
        box-shadow: if($reverse, 0px -4px 10px rgba(0, 0, 0, 0.13), 0px 4px 10px rgba(0, 0, 0, 0.13)), $elevation-base-shadow;
        @if $border {border: 2px solid rgba(0,0,0,0)};
    }
    @if $level == 3 {
        box-shadow: if($reverse, 0px -7px 15px rgba(0, 0, 0, 0.13), 0px 7px 15px rgba(0, 0, 0, 0.13)), $elevation-base-shadow;
        @if $border {border: 2px solid rgba(0,0,0,0)};
    }
}
